<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta charset="utf-8" />
<title>Atimetrik-BCP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
<META HTTP-EQUIV="Expires" CONTENT="-1" />
<link rel="icon" href="img/altimetrik_favicon.ico" type="image/x-icon">
<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="js/Chart.js"></script>
<script src="js/header.js"></script>
<script src="js/common.js"></script>
<script src="js/popper.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/common.css" rel="stylesheet" />
<!-- <link href="css/bootstrap-glypicons.css" rel="stylesheet" /> -->
<link href="css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<script src="js/moment.js"></script>
<script src="js/all.js"></script>
<script src="js/summary.js"></script>
<script src="js/attendanceUpload.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container extra_container">
			<a class="navbar-brand" href="#"> <img
				src="img/Altimetrik-Logo.svg" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto" style="margin-bottom: -20px;">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown2"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Dashboard <span class="sr-only">(current)</span>
					</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="delivery.html">Delivery
								summary</a> <a class="dropdown-item" href="attendance.html">Attendance</a>
						</div></li>
					<li class="nav-item"><a class="nav-link" href="contact.html">Add
							Project </a></li>
							
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown3"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Admin actions <span class="sr-only">(current)</span>
					</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item add_summary_access" href="today_summary.html">Add Summary</a>
							 <a class="dropdown-item add_file_upload_access active" href="file_upload.html">File upload</a>
						</div></li>
					
					<li class="nav-item dropdown" style="margin-top: -5px;"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <img
							src="img/profile_icon.png" width="50" height="50"
							class="rounded-circle">
					</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">View Profile</a> <a
								class="dropdown-item" method="GET" id="logout" href="/logout">Log
								Out</a>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->

	<div class="container extra_container allow_file_accessed_users">
		<div id="uname" align="right" style="margin-right: 20px;"></div>
		</br>
			<form class="row" id="fileForm">
			<div class='col-sm-2'>
				<select class="form-control" name="fileType" id="fileType">
					<option value="empty" disabled hidden>
						Select uploadfile type</option>
					<option value="Attendance" selected>Attendance</option>
					<option value="Delivery" >Delivery summary</option>
				</select> 
				<div id="fileTypeMsg"></div>
				</div>
			<div class='col-sm-5'>
				<div class="custom-file mb-3">
					<input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
					class="custom-file-input" id="attendanceFile" name="uploadFile"> 
					<label class="custom-file-label" for="customFile">Select excel file to upload</label>
				</div>
				<div id="fileTypeErrorMsg"></div>
			</div>
			<div class='col-sm-2'>
					<button type="button" id="uploadBtn" class="btn btn-primary">Submit</button>
			</div>
			</form>
			
			<div class="loader" align ="center" style="display:none;">
				<img src="img/loading.gif" alt="Wait" style="width: 100px;height: 100px;"/>
			</div>
	</div>
	</br>
	</div>
<div id="fileUploadModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modalContent modal-content">
			</div>

		</div>
	</div>
	<div id="checklistModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class='modal-header'>
				<H5><b><font color='red'>ATTENDANCE CHECKLIST</font></b></h5>
			</div>
			<div class='modal-body' id="allCheckboxes">
				<p><font color='black'>
				<input type='checkbox' id="checklist1" name='checklist'><label for='checklist1'> Ensure Excel should be in the prescribed format</label><br>
				<input type='checkbox' id="checklist2" name='checklist'><label for='checklist2'> Ensure correct date is selected(in Excel)</label><br>
				<input type='checkbox' id="checklist3" name='checklist'><label for='checklist3'> Ensure Email Id's are updated for the New Joiners</label><br>
				<input type='checkbox' id="checklist4" name='checklist'><label for='checklist4'> Ensure respective column data is not changed</label><br>
				<br></font></p>
			</div>
			<div class='modal-footer'>
				<button type='button' class='btn btn-warning' data-dismiss='modal'>CANCEL</button>&nbsp;&nbsp;
            	<button type='button' id='checklistProceed' class='btn btn-primary' disabled='disabled' data-dismiss='modal'>PROCEED</button></div>
			</div>
		</div>
	</div>
	<div id="preventUnauthorizedUsersModalFile" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-body">
					<p style="padding: 15px 5px 3px 10px;"><b><font color="red">Sorry, You are not allowed to access this page...</font></b></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>

		</div>
	</div>
</body>
</html>