<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta charset="utf-8" />
<title>Atimetrik-BCP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
<META HTTP-EQUIV="Expires" CONTENT="-1" />
<link rel="icon" href="img/altimetrik_favicon.ico" type="image/x-icon" >
<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="js/Chart.js"></script>
<script src="js/header.js"></script>
<script src="js/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/common.css" rel="stylesheet" />
<!-- <link href="css/bootstrap-glypicons.css" rel="stylesheet" /> -->
<link href="css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<script src="js/moment.js"></script>
<script src="js/all.js"></script>
<script src="js/summary.js"></script>
<script src="js/attendanceUpload.js"></script>s
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	<div class="container">
		<a class="navbar-brand" href="#"> <img
			src="img/Altimetrik-Logo.svg" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto" style="margin-bottom:-20px;">
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard
				<span class="sr-only">(current)</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" href="delivery.html">Delivery summary</a>
			          <a class="dropdown-item" href="attendance.html">Attendance</a>
			        </div>
				
				</li>
				<li class="nav-item"><a class="nav-link" href="contact.html">Add
						Project 
				</a></li>
				<li class="nav-item add_summary_access active"><a class="nav-link" href="today_summary.html">Add Summary</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="file_upload.html">Upload attendance</a>
				</li>
				 <li class="nav-item dropdown" style="margin-top:-5px;">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          <img src="img/profile_icon.png" width="50" height="50" class="rounded-circle">
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" href="#">View Profile</a>
			          <a class="dropdown-item"  method="GET" id="logout" href="/logout">Log Out</a>
			        </div>
			      </li> 
			</ul>
		</div>
	</div>
	</nav>

	<!-- Page Content -->
	
	<div class="container allow_accessed_users">
			<div id="uname"align="right" ></div>
			</br>
			<div class="row">
					<div class="col-sm-6">
								<h4>Attendance input:</h4>
 	<form id="fileForm">
   	<div class="custom-file mb-3">
    	 <input type="file" class="custom-file-input" id="attendanceFile" name="uploadFile">
     	<label class="custom-file-label" for="customFile">Choose file</label>
   	</div>
   
   	<div class="mt-3">
    	 <button type="button" id="uploadBtn" class="btn btn-primary">Submit</button>
   	</div>
 	</form>
				</div>	
				</div>
			</div>
			</br>
	</div>
	
	<div id="summaryAddSuccessModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-body">
					<p style="padding: 15px 5px 3px 10px;"><b><font color="green">Summary added successfully!!</font></b></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>

		</div>
	</div>
	<div id="preventUnauthorizedUsersModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-body">
					<p style="padding: 15px 5px 3px 10px;"><b><font color="red">Sorry, You are not allowed to access this page...</font></b></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>

		</div>
	</div>
</body>
</html>