@CHARSET "ISO-8859-1";

.modal-lg {
    max-width: 95%;
}

#modalTable td {
   text-align: left !important;   
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

#hiringTable td {
   text-align: left !important;   
}

@media (min-width: 576px)
.modal-dialog {
    max-width: 100% !important;
    margin: 1.25rem auto !important;
}
.modal {
    position: fixed;
    top: 0px !important;
    right: 50;
    bottom: 0;
    left: 5px;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.hiringModal {
    position: fixed;
    top: 0px !important;
    right: 50;
    bottom: 0;
    left: 5px;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.hiring-modal-content {
	height: 100% !important;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    max-width: 100% !important;
    margin: 1.50rem auto !important;
}

.modal-content {
	height: 100% !important;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    max-width: 100% !important;
    margin: 1.50rem auto !important;
}

.modal-dialog {
    height: 90%;
    width: 90%;
    max-width: 100% !important;
    margin: 1.75rem 1rem auto !important;
}

.hiring-modal-dialog {
    height: 90%;
    width: 90%;
    max-width: 100% !important;
    margin: 1.75rem 16rem auto !important;
}

.delivery{
    margin-left: 12px;
    margin-right: 12px;
}
 .remarks{
   margin-right: 0in;
    margin-bottom: 0px !important;
    margin-top: 0.5px !important;
    margin-left: .5in;
    font-size: 10.0pt;
    font-family: "Calibri",sans-serif;
    margin-left: 8px !important;
    text-indent: -.25in;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }
.deliver_Normal{
    margin: 0in;
    margin-bottom: .0001pt;
    font-size: 12.0pt;
    font-family: "Calibri",sans-serif;
}